* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.container video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.header__section {
  width: 100%;
  height: 100%;
  margin: auto;
}

.background {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.733) 90%,
    rgb(0, 0, 0) 100%
  );
}

/* Header Section */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header__logo {
  width: 200px;
  min-width: 200px;
  height: 50px;
  min-height: 50px;
}

.header__logo img {
  width: 100%;
  cursor: pointer;
}

.header__navigation {
  display: flex;
  gap: 60px;
}

.header__navigation a {
  color: #fff;
  font-size: 1rem;
  transition: 0.7s;
}
.header__navigation a:hover {
  color: #e51e2a;
}
.menu-btn {
  display: none;
}

/* Hero Section */

.hero {
  width: 40%;
  height: 50%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 113%;
  letter-spacing: 5px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 0px 20px #000;
}

/* Card Section */

.card__container {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  bottom: 2px;
  left: 0;
  gap: 30px;
}

.card {
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-bottom: 2px solid #555;
  cursor: pointer;
  transition: 1s;
  box-shadow: 0px 0px 10px #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 150px;
}

.card:hover {
  transform: scale(1.03);
  border-bottom: 2px solid #9d2547;
  padding-top: 10px;
}

.card__image-1 {
  background-image: url(Assets/Mirana.jpg);
  background-position: center;
}

.card__image-2 {
  background-image: url(Assets/Sniper.jpg);
  background-position: center;
}

.card__image-3 {
  background-image: url(Assets/Shaker.jpg);
  background-position: center;
}

.card__tittle {
  margin: 0px 10px;
  color: white;
  z-index: 2;
  font-size: 20px;
}

.card__span {
  margin: 0px 10px;
  color: #fff;
  z-index: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
}

.card__description {
  width: 55%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin: 0px 10px 0px 10px;
  transition: 0.8s;
}

.container_i {
  width: 100%;
  height: 100%;
}

.imagen {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-size: cover;
  cursor: pointer;
  transition: 1s;
}

.animation {
  width: 100%;
  object-fit: contain;
  height: inherit;
}

.heroes__tittle {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  padding: 30px;
}

.heroes__filters {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.5647058824);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3137254902);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

.filter__tittle {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.filter__atribute {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filter__atribute img {
  width: 40px;
  height: 40px;
}

.atribute__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-right: 20px;
}

.atribute__icons {
  background-color: #fff;
  border-radius: 50px;
}

.filter__search {
  width: 250px;
  height: 50px;
  background-color: #25282a;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__container {
  display: flex;
}

.search__icon {
  background-image: url(Assets/search.svg);
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  margin-right: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert();
}

.search__input {
  height: 30px;
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: #25282a;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding: 4px;
}

.section_heroes {
  width: 100%;
  background-image: url(Assets/dota-2-4k-desktop-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroes__container {
  padding: 15px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroes__img {
  position: relative;
  padding: 30px;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.img_description {
  width: 99px;
  height: 30px;
  position: absolute;
  /* bottom: 0px; */
  left: 30px;
  top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-property: opacity, bottom;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  z-index: 3;
  opacity: 0;
}

.img_description img {
  width: 20px;
}

.img_description h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.7rem;
}

.small__img {
  width: 100%;
  transition: 0.8s;
  box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.9);
}
.small__img:hover {
  transform: scale(1.3);
}

.video__container {
  width: 50%;
}
.video__big {
  width: 100%;
}

footer {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer_logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer_logos img {
  max-height: 2em;
}

.footer_description {
  width: 45%;
  color: #777;
  text-align: center;
  font-size: 0.9rem;
}

@media screen and (max-width: 1025px) {
  .hero h1 {
    font-size: 2rem;
  }

  .footer_description {
    width: 55%;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    width: 75%;
  }
  .card {
    padding-top: 150px;
  }

  .card__description {
    font-size: 0.7rem;
  }

  .filter__tittle {
    font-size: 1rem;
  }

  .atribute__text {
    font-size: 1rem;
  }

  .filter__atribute img {
    width: 30px;
    height: 30px;
  }

  .filter__search {
    width: 200px;
    height: 35px;
  }

  .heroes__container {
    flex-direction: column-reverse;
    width: 98%;
  }

  .video__container {
    text-align: center;
  }

  .video__big {
    width: 80%;
  }

  .heroes__img {
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .footer_description {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    justify-content: center;
  }

  .header__navigation {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header {
    justify-content: center;
  }

  .header__navigation {
    display: none;
  }

  .hero {
    width: 75%;
  }

  .hero h1 {
    font-size: 1.7rem;
  }

  .card {
    padding-top: 115px;
  }

  .card__span {
    font-size: 7px;
  }

  .card__tittle {
    font-size: 15px;
  }

  .card__container {
    height: 117px;
    gap: 10px;
  }

  .card__description {
    font-size: 0.5rem;
  }

  .heroes__tittle {
    font-size: 2rem;
  }

  .filter__tittle {
    font-size: 0.7rem;
  }

  .atribute__text {
    font-size: 0.7rem;
    margin-right: 5px;
  }

  .filter__atribute img {
    width: 25px;
    height: 25px;
  }

  .filter__search {
    width: 100px;
  }

  .search__icon {
    width: 23px;
    height: 23px;
    min-width: 23px;
    min-height: 23px;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .heroes__container {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 84vh;
  }

  .video__big {
    width: 80%;
  }

  .video__container {
    width: 100%;
  }

  .heroes__img {
    width: 100%;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .footer_logos img {
    max-height: 1.5em;
  }

  .footer_description {
    width: 100%;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .filter__tittle {
    display: none;
  }

  .filter__search {
    width: 130px;
  }

  .video__big {
    width: 90%;
  }
}
